body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;

}



.hero {
    background-image: linear-gradient(to left, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;

}

.hero {
    color: #0090F7;
    /* fallback */
}